@import '~vuetify/src/stylus/settings/_variables'
 
/* $material-light.background = #c0c0c0
$material-light.cards = #607D8B
$material-light.expansion-panels.focus = #506D7B
$material-light.app-bar = #708D9B */


/* $material-dark.cards = #606060
$material-dark.app-bar = #202020
$material-dark.background = #c0c0c0 */
@import '~vuetify/src/stylus/main'
